
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*GLOBAL*/
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	background: url('../images/bg-ship4.jpg');
	filter: grayscale(0.5);
	background-size: cover;
}
p {
	text-align: center;
}
h2 {
	margin: 20px auto;
	font-size: 1.5em;
	text-align: center;
}

hr {
	border-top: 1px solid rgba(255,255,255,0.1);
	margin: 5px 0;
}

img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
	box-sizing: border-box;
	box-shadow: 1px 2px 8px rgba(255,255,255,0.1);
	transition: 0.2s all ease-in-out;
}

/*GAME*/
.hero {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background: rgba(0,0,0,0.9);
	width: 100% !important;
	height: 100vh !important;
}

#lessray-character img:hover {
	box-shadow: 0px 0px 30px rgba(8, 107, 221, 0.7);
}
#luke-skywalker-character img:hover {
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.7);
}
#yoda-character img:hover {
	box-shadow: 0px 0px 30px rgba(89, 228, 8, 0.7);
}
#darth-vader-character img:hover {
	box-shadow: 0px 0px 30px rgba(235, 7, 7, 0.7);
}

#fight-section {

    align-self: center;
    justify-items: center;
    text-align: center;
}
#characters-available,
#enemies-available {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
#characters-available img,
#enemies-available img {
	cursor: pointer;
}
#enemies-available h2 {
	
    text-align: center;
    padding: 15px;
}

.arena {
	margin: 50px auto;
}
#chosen-character,
#enemy-section,
#message-section {
	text-align: center;
}
.character-image {
	margin-top: 20px;
}

#characters-available h2 {
	display: none;
}
#enemies-available h2 {
	display: block;
}
#game-message p {
	padding: 5px 0;
}